{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_4_horizontal_layout.html.twig' 'post/custom/form_group_class.html.twig' %}
{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Редактирование категории</h1>

    <a class="btn btn-info" href="{{ path('category_index') }}">Категории</a>

    <div class="form-signin">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" class="btn-primary btn" value="Сохранить" />
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
