{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' 'post/custom/form_group_class.html.twig' %}
{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Создание категории</h1>

    <a class="btn btn-info" href="{{ path('category_index') }}">Категории</a><br>

    <form class="form-signin" name="testbundle_category" method="post">
        {{ form_row(form.name) }}
        {{ form_row(form.nameEng) }}
        <input type="submit" class="btn-primary btn" value="Создать" />
        {{ form_widget(form._token) }}
    </form>
{% endblock %}
