{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Категория</h1>

    <a class="btn mb-3 btn-info" href="{{ path('category_index') }}">Категории</a><br>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>На английском</th>
            <th>Дейстивия</th>
        </tr>
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.nameEng }}</td>
            <td class="d-inline-flex">
                <a class="btn btn-info" href="{{ path('category_edit', { 'id': category.id }) }}">Редактировать</a>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Удалить">
                {{ form_end(delete_form) }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
