<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Учёт расходов{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link rel="stylesheet" href="http://bootstrap-4.ru/docs/4.2.1/examples/sign-in/signin.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container text-center">
            <img class="sym-icon" src="https://www.vectorlogo.zone/logos/symfony/symfony-icon.svg" alt="">
            {% block body %}{% endblock %}
            <ul>
                <li>
                    <p class="mt-5 mb-3 text-muted text-center">© 2019</p>
                </li>
            </ul>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
