{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Детализация за месяц</h1>

    <a class="btn btn-info mb-3" href="{{ path('post_index') }}">Список расходов</a>

    <table class="table">
        <thead>
        <tr>
            <th>Число\Категория</th>
            {% for catName in categories %}
                <th>{{ catName }}</th>
            {% endfor %}
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
            {% for day, cost in costs %}
                <tr>
                    <td>{{ day }}</td>
                {% for idCategory, category in categories %}
                    <td>{% if category in cost|keys %}
                            {{ cost[category].sum}}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endfor %}
                    <td>{{ cost['total'] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><b>Сумма по категориям</b></td>
                {% for sum in sumByCategory %}
                    <td>
                        {% if sum != 0 %}
                            {{ sum }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endfor %}
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}