{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Список расходов</h1>

    <div class="btn-group mb-3" role="group" aria-label="Basic example">
        <a href="{{ path('post_new') }}" class="btn-primary btn">Новая запись</a>
        <a href="{{ path('post_report') }}" class="btn-primary btn">Сводный отчёт</a>
        <a href="{{ path('settings_edit') }}" class="btn-primary btn" target="_blank"
           onclick="window.open(this.href,this.target,'width=400,height=500,scrollbars=1');return false;">
            Настройки
        </a>
        <a href="{{ path('category_index') }}" class="btn-primary btn">Категории</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Категория</th>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for cost in costs %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': cost.id }) }}">{{ cost.id }}</a></td>
                <td>{{ cost.category }}</td>
                <td>{% if cost.date %}{{ cost.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cost.sum }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('post_show', { 'id': cost.id }) }}">Показать</a>
                        </li>
                        <li>
                            <a href="{{ path('post_edit', { 'id': cost.id }) }}">Редактировать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
