{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' 'post/custom/form_group_class.html.twig' %}
{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Создание расхода</h1>

    <a class="btn btn-info" href="{{ path('post_index') }}">Список расходов</a>

    {{ include('post/custom/error_block.html.twig') }}
    <form class="form-signin" name="testbundle_post" method="post">
        {{ form_row(form.category) }}
        {{ form_row(form.date) }}
        {{ form_row(form.sum) }}
        <input type="submit" class="btn-primary btn" value="Создать" />
        {{ form_widget(form._token) }}
    </form>
{% endblock %}
