{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Сводный отчёт</h1>

    <a class="btn btn-info mb-3" href="{{ path('post_index') }}">Список расходов</a>

    {% for year, cost in costs %}
        <h4 class="mb-4">{{ year }}</h4>
        <div class="row">
        {% for month, sum in cost %}
            <div class="col-md-3">
                <div class="card shadow-sm">
                    <h3>{{ months[month] }}</h3>
                    <div class="mb-3">
                        <h5>Сумма: {{ sum }} руб.</h5>
                        <a href="{{ path('post_detail', {'year': year, 'month': month}) }}" class="btn-primary btn">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}
