{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Расход</h1>

    <a class="btn btn-info mb-3" href="{{ path('post_index') }}">Список расходов</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Категория</th>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Действия</th>
            </tr>
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.category }}</td>
                <td>{% if post.date %}{{ post.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ post.sum }}</td>
                <td class="d-inline-flex">
                    <a class="btn btn-info" href="{{ path('post_edit', { 'id': post.id }) }}" title="Редактировать">
                        Редактировать
                    </a>
                    {{ form_start(delete_form) }}
                        <input class="btn btn-danger" type="submit" value="Удалить">
                    {{ form_end(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
