{% if error.message is defined %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 alert alert-danger">
            {{ error.message }}
        </div>
        <div class="col-md-4"></div>
    </div>
    <a href="{{ path('settings_edit') }}" class="btn btn-primary" target="_blank" onclick="window.open(this.href,this.target,'width=400,height=500,scrollbars=1');return false;">Перейти к настройкам</a>
{% endif %}