{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' 'post/custom/form_group_class.html.twig' 'post/custom/form_label_class.html.twig'%}
{% block body %}
    <h1 class="h3 font-weight-normal">Настройки приложения</h1>

    <div class="form-signin">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn-primary btn" value="Сохранить" />
        {{ form_end(form) }}
    </div>
{% endblock %}